<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>호텔 예약 수정</title>
    <style>
        .err {
         color: red;
        }
    </style>
</head>
<body>
    <h2>호텔 예약 수정</h2>

    <form th:action="@{/updateProc}" th:object="${hDto}" method="post">
        <input type="hidden" th:field="*{num}">
        <input type="hidden" name="whatColumn" th:value="${whatColumn}">
        <input type="hidden" name="keyword" th:value="${keyword}">
        <input type="hidden" name="page" th:value="${page}">

        <table border="1">
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" th:field="*{name}">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="err"></div>
                </td>
            </tr>
            <tr>
                <th>추가 서비스</th>
                <td>
                    <span th:each="s : ${servicesList}">
                        <input type="checkbox" th:field="*{services}" th:value="${s}"> [[${s}]]
                    </span>
                    <div th:if="${#fields.hasErrors('services')}" th:errors="*{services}" class="err"></div>
                </td>
            </tr>
            <tr>
                <th>객실 타입</th>
                <td>
                    <span th:each="r : ${roomTypeList}">
                        <input type="radio" th:field="*{room_type}" th:value="${r}"> [[${r}]]
                    </span>
                    <div th:if="${#fields.hasErrors('room_type')}" th:errors="*{room_type}" class="err"></div>
                </td>
            </tr>
            <tr>
                <th>결제 방식</th>
                <td>
                    <select th:field="*{payment}">
                        <option value="">선택하세요</option>
                        <option th:each="p : ${paymentList}" th:value="${p}" th:text="${p}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}" class="err"></div>
                </td>
            </tr>
            <tr>
                <th>체크인 날짜</th>
                <td>
                    <input type="date" th:field="*{checkin_date}">
                    <div th:if="${#fields.hasErrors('checkin_date')}" th:errors="*{checkin_date}" class="err"></div>
                </td>
            </tr>
            <tr>
                <th>숙박 일수</th>
                <td>
                    <input type="number" th:field="*{nights}">
                    <div th:if="${#fields.hasErrors('nights')}" th:errors="*{nights}" class="err"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="수정완료">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
