<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script>
        function register() {
            location.href="/minsert.mb";
        }
    </script>
</head>
<body>
<h1>로그인 화면</h1>
<form th:action="@{/login.mb}" method="post">
    <table border="1" width="400" height="200">
        <tr>
            <th>아이디</th>
            <td>
                <input type="text" name="id">
            </td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" value="로그인">
                <input type="reset" value="취소">
                <input type="button" value="회원가입" onClick="register()">
                <a th:href="@{mlist.mb}">
                    <input type="button" value="회원목록보기">
                </a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
