<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head>
    <meta charset="UTF-8">
    <title>도서 상세 페이지</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <h2>도서 상세 페이지</h2>
    <table class="table" style="width: 70%;">
        <tr>
            <th>번호</th>
            <td th:text="${book.no}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${book.title}"></td>
        </tr>
        <tr>
            <th>저자</th>
            <td th:text="${book.author}"></td>
        </tr>
        <tr>
            <th>출판사</th>
            <td th:text="${book.publisher}"></td>
        </tr>
        <tr>
            <th>가격</th>
            <td th:text="${book.price}"></td>
        </tr>
        <tr>
            <th>입고일</th>
            <td th:text="${book.buy}"></td>
        </tr>
        <tr>
            <th>배송비</th>
            <td th:text="${book.kind}"></td>
        </tr>
        <tr>
            <th>구매가능서점</th>
            <td th:text="${book.bookstore}"></td>
        </tr>
        <tr>
            <th>보유수량</th>
            <td th:text="${book.count}"></td>
        </tr>
    </table>

    <div>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/blist(page=${page}, size=${size}, keyword=${keyword})}'|">
            돌아가기
        </button>
    </div>

</div>
</body>
</html>
