<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head>
    <meta charset="UTF-8">
    <title>도서 등록 페이지</title>
    <th:block layout:fragment="css">
        <style>
            .fieldError {
                color: red;
                font-size: 0.9em;
                margin-top: 4px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline = "javascript">
            $(document).ready(function(){
                var bookstoreString = '[[${bookBean.bookstore}]]'; // 선택한 서점(ex: 교보문고, 알라딘)
                var bookstoreList = $('input[name=bookstore]');    // 체크박스 목록
                bookstoreList.each(function(){
                    var curr = $(this).val();                      // 현재 체크박스의 값
                    var index = bookstoreString.indexOf(curr);
                    if(index != -1){
                        $(this).attr('checked', true);
                    }
                });
            });
        </script>
    </th:block>
</head>
<body>
<div class="content" layout:fragment="content">
    <h2>도서 등록</h2>
    <form name="myform" method="post" action="/book/insert" th:object="${bookBean}">
        <div class="form-group">
            <b>제목</b>
            <input type="text" class="form-control" th:field="${bookBean.title}" placeholder="제목을 입력하세요">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>저자</b>
            <input type="text" class="form-control" th:field="${bookBean.author}" placeholder="저자를 입력하세요">
            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>출판사</b>
            <input type="text" class="form-control" th:field="${bookBean.publisher}" placeholder="출판사를 입력하세요">
            <p th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>가격</b>
            <input type="text" class="form-control" th:field="${bookBean.price}" placeholder="가격을 입력하세요">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>입고일</b>
            <input type="date" class="form-control" th:field="${bookBean.buy}" placeholder="입고일을 입력하세요">
            <p th:if="${#fields.hasErrors('buy')}" th:errors="*{buy}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>배송비</b>
            <div class="form-control">
                <div class="form-check-inline" th:each="k : ${kindArr}">
                    <input type="radio" th:field="*{kind}" th:value="${k}"> [[${k}]]
                </div>
            </div>
            <p th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}" class="fieldError"></p>
        </div>

        <div class="form-group">
            <b>구입가능 서점</b>
            <div class="form-control">
                <div class="form-check-inline" th:each="bs : ${bookstoreArr}">
                    <input type="checkbox" th:field="*{bookstore}" th:value="${bs}"> [[${bs}]]
                </div>
            </div>
            <p th:if="${#fields.hasErrors('bookstore')}" th:errors="*{bookstore}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>보유수량</b>
            <select class="form-control" th:field="${bookBean.count}">
                <option value="0">선택하세요</option>
                <option th:each="i:${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
            </select>
            <p th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="fieldError"></p>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="reset" class="btn btn-primary">초기화</button>
    </form>
</div>
</body>
</html>