<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
form.html<br>

<h1>파일 업로드</h1>
<form th:action="@{/upload}" method="post" th:object="${fileInfo}" enctype="multipart/form-data">
    <input type="text" th:field="*{name}" placeholder="이름을 입력하세요"><br>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></p>

    <input type="file" th:field="*{file}"><br>
    <p th:if="${#fields.hasErrors('file')}" th:errors="*{file}" style="color:red;"></p>

    <br>
    <button type="submit">업로드</button>
</form>

message : <p th:text="${message}"></p>
<a th:href="@{/images}">업로드된 이미지 보기</a>

</body>
</html>