<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정</title>
</head>
<body>
<h1>상품 수정 화면</h1>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/pupdate.prd}" th:object="${pDto}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{num}">
    <input type="hidden" name="whatColumn" th:value="${whatColumn}">
    <input type="hidden" name="keyword" th:value="${keyword}">
    <input type="hidden" name="page" th:value="${page}">

    <table border="1">
        <tr>
            <td>상품명</td>
            <td>
                <input type="text" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>제조회사</td>
            <td>
                <input type="text" th:field="*{company}">
                <div th:if="${#fields.hasErrors('company')}" th:errors="*{company}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>가격</td>
            <td>
                <input type="text" th:field="*{price}">
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>재고수량</td>
            <td>
                <input type="text" th:field="*{stock}">
                <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>적립포인트</td>
            <td>
                <input type="text" th:field="*{point}">
                <div th:if="${#fields.hasErrors('point')}" th:errors="*{point}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>설명</td>
            <td>
                <input type="text" th:field="*{contents}">
                <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>상품이미지</td>
            <td>
                <img th:src="@{'/images/' + ${pDto.image}}" style="width:150px; height:auto; display:block; margin:auto;">
                <input type="file" th:field="*{file}">
                <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="submit" value="수정하기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
