<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Ex02.mapper.FileMapper">
    <!--<resultMap id="fileResultMap" type="com.example.Ex02.dto.FileInfo">
        <result property="fileSize" column="file_size"></result>
    </resultMap>-->

    <insert id="saveFileInfo">
        insert into file_info(id, name, filename, file_size)
        values(file_seq.nextval, #{name}, #{filename}, #{fileSize})
    </insert>

    <select id="getAllFiles" resultType="com.example.Ex02.dto.FileInfo">
        select id, name, filename, file_size as fileSize
        from file_info
        order by id desc
    </select>
</mapper>
