<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>주문 상세내역</h1>
<table border="1" width="400" style="text-align:center; border-collapse:collapse;">
    <tr>
        <td colspan="2">
            고객명: <span th:text="${session.loginInfo.name}"></span>
        </td>
        <td colspan="3">
            송장번호(주문번호): <span th:text="${oid}"></span>
        </td>
    </tr>
    <tr>
        <td colspan="5">
        배송지: <span th:text="${session.loginInfo.address}"></span>
        </td>
    </tr>
    <tr>
        <th>순번</th>
        <th>상품명(상품번호)</th>
        <th>수량</th>
        <th>단가</th>
        <th>금액</th>
    </tr>
    <th:block th:each="list: ${lists}">
        <tr>
            <td th:text="${listStat.index} + 1"></td>
            <td>
                <span th:text="${list.pname}"></span>(<span th:text="${list.pnum}"></span>)
            </td>
            <td th:text="${list.qty}"></td>
            <td th:text="${list.price}"></td>
            <td th:text="${list.amount}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>