<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>나이</th>
        </tr>
        <th:block th:each="per : ${lists}">
            <tr>
                <td th:text="${per.num}"></td>
                <td th:text="${per.id}"></td>
                <td>
                    <a th:href="@{/content_view(num=${per.num})}" th:text="${per.name}"></a>
                </td>
                <td th:text="${per.age}"></td>
            </tr>
        </th:block>
        <tr>
            <td colspan="4">
                <a href="form">삽입</a>
            </td>
        </tr>

    </table>
</body>
</html>