<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:action="@{/input5}">
        <table>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="text" name="age"/></td>
            </tr>

            <tr>
                <td>취미</td>
                <td>
                    <input type="checkbox" name="hobby" value="수영"/>수영
                    <input type="checkbox" name="hobby" value="요리"/>요리
                    <input type="checkbox" name="hobby" value="게임"/>게임
                </td>
            </tr>
        </table>
        <input type="submit" value="전송"/>
    </form>
</body>
</html>