<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .err {
            color: red;
        }
    </style>
</head>
<body>
<form th:action="@{/writeProc}" th:object="${fDto}" method="post">
    <table border="1" width="500">
        <tr>
            <td>아이디</td>
            <td>
                <input type="text" th:field="*{id}"><br>
                <div th:if="${#fields.hasErrors('id')}"
                     th:errors="*{id}" class="err"></div>
            </td>
        </tr>
        <tr>
            <td>비번</td>
            <td>
                <input type="text" th:field="*{pw}"><br>
                <div th:if="${#fields.hasErrors('pw')}"
                     th:errors="*{pw}" class="err"></div>
            </td>
        </tr>
        <tr>
            <td>우승예상국가</td>
            <td>
                <input type="radio" th:field="*{win}" value="한국">한국
                <input type="radio" th:field="*{win}" value="미국">미국
                <input type="radio" th:field="*{win}" value="독일">독일
                <input type="radio" th:field="*{win}" value="스페인">스페인
                <div th:if="${#fields.hasErrors('win')}"
                     th:errors="*{win}" class="err"></div>
            </td>
        </tr>
        <tr>
            <td>16강 예상국가</td>
            <td>
                <input type="checkbox" th:field="*{round16}" value="한국">한국
                <input type="checkbox" th:field="*{round16}" value="멕시코">멕시코
                <input type="checkbox" th:field="*{round16}" value="독일">독일
                <input type="checkbox" th:field="*{round16}" value="브라질">브라질
                <input type="checkbox" th:field="*{round16}" value="스위스">스위스
                <input type="checkbox" th:field="*{round16}" value="잉글랜드">잉글랜드
                <div th:if="${#fields.hasErrors('round16')}"
                     th:errors="*{round16}" class="err"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="submit" value="입력">
                <a href="list">목록보기</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
